@model IEnumerable<Etap12.Insurance>

@{
    ViewData["Title"] = "Страхування";
}

<h1>Страхування</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceCases)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsuranceCases)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.PatientName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.InsuranceId">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.InsuranceId">Детальніше</a> |
                    <a asp-action="Delete" asp-route-id="@item.InsuranceId">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
