@model Etap12.Patient

@{
    ViewData["Title"] = "Видалити пацієнта";
    ViewData["NoIndex"] = true;
}

<h1>Видалити пацієнта</h1>

<h3>Ви справді хочете видалити пацієнта?</h3>
<div>
    <h4>Пацієнт</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HomeAdress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HomeAdress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientPhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientPhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passport)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Passport)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Doctor.DoctorName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PatientId" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-controller="Patients" asp-action="Index">Назад</a>
    </form>
</div>
