@model IEnumerable<Etap12.Doctor>

@{
    ViewData["Title"] = "Лікарі";
}

<h1>Лікарі</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Education)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateStartWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Education)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStartWork)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hospital.HospitalName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DoctorId">Редагувати</a> |
                    <a asp-action="Details" asp-route-id="@item.DoctorId">Детальніше</a> |
                    <a asp-action="Patients" asp-route-id="@item.DoctorId">Пацієнти</a> |
                    <a asp-action="Delete" asp-route-id="@item.DoctorId">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>